$main-color: #f5f5f5;
$golden: #f8e112;
$bg-color: rgba(227, 227, 227, 0.2);
$bg-body: #ff3cac;
$gradient: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
$border-bottom: rgba(255, 255, 255, 0.2);

$grey: #808080;
$card-p-color: #b8b8b8;
